@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #fff;
}

header {
  padding: 1rem 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

header > img {
  height: 50px;
  width: 225px;
  overflow: hidden;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

#navlink {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#hero_section button,
#book_now {
  padding: 0.5rem 2.25rem;
  border-radius: 5rem;
}

#book_now {
  padding: 0.5rem 2.25rem;
  border: 1px solid #fff;
}

#hero_section {
  background: url("./assets/banner.png") no-repeat center center/cover;
  height: 100vh;
  padding: 1rem 3.125rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hero_section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

#hero_section p {
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: 500;
  font-style: italic;
}

#hero_section button {
  width: fit-content;
  border: none;
}
