@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100dvh;
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #000000; */
}

.form-container {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  max-width: 30rem;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.form-container h1,
.form-container p {
  text-align: center;
}

.sub-text {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25rem;
  margin: 0.5rem 0;
}

label {
  margin-bottom: 0.5rem;
}

form input {
  width: 100%;
  border: 1px solid #00000080;
  margin-bottom: 1rem;
}

form input,
form button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

form button {
  width: 100%;
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

form button:hover {
  background-color: #357ae8;
}
