@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-poppins: "Poppins", sans-serif;
  --primary-color: #102c57;
  --secondary-color: #f1f1e6;
  --accent-color: #ffa500;
  --hover-color: #e0be4c;
  --text-color: #333333;
  --background-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100%;
  font-family: var(--font-poppins);
  background: var(--background-color);
  color: var(--background-color);
}

header {
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 2rem;
}

.logo {
  display: flex;
  gap: 1rem;
}

#logo {
  height: 50px;
  width: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.about-quote {
  position: unset;
  height: 100vh;
  background-image: url("../assets/waterBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 25%;
}

.hero {
  height: 100vh;
  background-image: url("../assets/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Reusable */
.active {
  font-weight: 700;
  color: var(--accent-color);
}
